@import url('https://fonts.googleapis.com/css?family=Roboto');

$textcolor: (
	primary: #021333
);

$bordercolor: (
	primary: #ff9700
);

$bgcolor: (
	primary: #f7f7f7,
	secondary: #021333,
	tertiary: #ff9700
);

$font: 'Roboto', sans-serif;