import java.util.*;

import br.com.conductor.heimdall.core.enums.InterceptorLifeCycle;
import br.com.conductor.heimdall.core.util.BeanManager;
import br.com.conductor.heimdall.gateway.service.LifeCycleService;
import br.com.conductor.heimdall.gateway.filter.helper.HelperImpl;
import br.com.conductor.heimdall.gateway.filter.HeimdallFilter;
import br.com.conductor.heimdall.gateway.service.CacheInterceptorService;
import br.com.conductor.heimdall.middleware.spec.Helper;

import com.google.common.collect.Sets;
import com.google.common.collect.Lists;
import com.netflix.zuul.context.RequestContext;

import static org.springframework.cloud.netflix.zuul.filters.support.FilterConstants.PRE_TYPE;


public class CacheInterceptor extends HeimdallFilter {

    private static Set<String> pathsAllowed;

    private static Set<String> pathsNotAllowed;

    private static String inboundURL;

    private static String method;

    private static String cacheName;

    private static Long referenceId;

    private static List<String> headers;

    private static List<String> queryParams;

    private CacheInterceptorService cacheInterceptorService;

    private static Long timeToLive;

    private Helper helper;

    public CacheInterceptor() {

        cacheName = "{{cache}}";

        timeToLive = {{timeToLive}};

        method = "{{method}}";

        headers = Lists.newArrayList();
        {{#headers}}
        headers.add("{{.}}");
        {{/headers}}

        queryParams = Lists.newArrayList();
        {{#queryParams}}
        queryParams.add("{{.}}");
        {{/queryParams}}

        pathsAllowed = Sets.newHashSet();
        {{#pathsAllowed}}
        pathsAllowed.add("{{.}}");
        {{/pathsAllowed}}

        pathsNotAllowed = Sets.newHashSet();
        {{#pathsNotAllowed}}
        pathsNotAllowed.add("{{.}}");
        {{/pathsNotAllowed}}

        inboundURL = "{{inboundURL}}";

        this.helper = new HelperImpl();

        referenceId = {{referenceId}};

    }

    @Override
    public boolean should() {
        LifeCycleService lifeCycleService = (LifeCycleService) BeanManager.getBean(LifeCycleService.class);
        return lifeCycleService.should(InterceptorLifeCycle.{{lifeCycle}}, pathsAllowed, pathsNotAllowed, inboundURL, method, RequestContext.getCurrentContext().getRequest(), referenceId);
    }

    @Override
    public void execute() throws Throwable {

        cacheInterceptorService = (CacheInterceptorService) BeanManager.getBean(CacheInterceptorService.class);

        cacheInterceptorService.cacheInterceptor(cacheName, timeToLive, helper, headers, queryParams);
    }

    @Override
    public String getName() {
        return "{{name}}";
    }

    @Override
    public String filterType() {
        return PRE_TYPE;
    }

    @Override
    public int filterOrder() {
        return {{order}};
    }
}
