
import static br.com.conductor.heimdall.core.util.Constants.INTERRUPT;

import java.util.*;

import javax.servlet.http.HttpServletRequest;

import org.springframework.http.HttpStatus;
import org.springframework.util.DigestUtils;

import com.google.common.collect.Sets;
import com.netflix.zuul.context.RequestContext;

import br.com.conductor.heimdall.gateway.filter.helper.*;
import br.com.conductor.heimdall.core.entity.App;
import br.com.conductor.heimdall.core.enums.InterceptorLifeCycle;
import br.com.conductor.heimdall.core.enums.Location;
import br.com.conductor.heimdall.gateway.service.LifeCycleService;
import br.com.conductor.heimdall.gateway.filter.HeimdallFilter;
import br.com.conductor.heimdall.gateway.service.SecurityService;
import br.com.conductor.heimdall.gateway.trace.TraceContextHolder;
import br.com.conductor.heimdall.core.util.BeanManager;
import br.com.conductor.heimdall.core.util.ConstantsInterceptors;
import br.com.conductor.heimdall.core.util.DigestUtils;
import br.com.conductor.heimdall.middleware.spec.*;
import br.com.twsoftware.alfred.object.Objeto;

public class ClientIdInterceptor extends HeimdallFilter {

     private static Set<String> pathsAllowed;

     private static Set<String> pathsNotAllowed;

     private SecurityService securityService;

     private static String inboundURL;

     private static String method;

     private static Long referenceId;

     private Helper helper;

     public ClientIdInterceptor() {

          method = "{{method}}";

          pathsAllowed = Sets.newHashSet();
     {{#pathsAllowed}}
          pathsAllowed.add("{{.}}");
     {{/pathsAllowed}}      

          pathsNotAllowed = Sets.newHashSet();
     {{#pathsNotAllowed}}
          pathsNotAllowed.add("{{.}}");
     {{/pathsNotAllowed}}           

          inboundURL = "{{inboundURL}}";

          this.helper = new HelperImpl();
          referenceId = {{referenceId}};

     }

     @Override
     public int filterOrder() {

          return {{order}};
     }

     @Override
     public String filterType() {

          return "{{executionPoint}}";
     }

     @Override
     public boolean should() {

        LifeCycleService lifeCycleService = (LifeCycleService) BeanManager.getBean(LifeCycleService.class);
        return lifeCycleService.validateClientId(RequestContext.getCurrentContext().getRequest(),
                                                    getApiId(),
                                                    Location.valueOf("{{location}}"),
                                                    "{{name}}");
     }
     
     @Override
     public String getName() {
     	return "{{name}}"
     }

     public Long getApiId() {
          return {{apiId}};
     }

     @Override
     public void execute() throws Throwable {

//          securityService = (SecurityService) BeanManager.getBean(SecurityService.class);
//          RequestContext ctx = RequestContext.getCurrentContext();
//          HttpServletRequest request = ctx.getRequest();
//
//          String clientId = null;
//          Location location = Location.valueOf("{{location}}");
//          String name = "{{name}}";
//          if (Location.HEADER.equals(location)) {
//
//               clientId = helper.call().request().header().get(name);
//          }else {
//
//               clientId = request.getParameter(name);
//          }
//
//          securityService.validadeClientId(ctx, getApiId(), clientId);
     }
     
}
