import br.com.conductor.heimdall.gateway.service.CORSInterceptorService;
import br.com.conductor.heimdall.core.enums.InterceptorLifeCycle;
import br.com.conductor.heimdall.core.util.BeanManager;
import br.com.conductor.heimdall.gateway.service.LifeCycleService;
import br.com.conductor.heimdall.gateway.filter.HeimdallFilter;
import com.netflix.zuul.context.RequestContext;

import javax.servlet.http.HttpServletRequest;
import java.util.*;

import static org.springframework.cloud.netflix.zuul.filters.support.FilterConstants.PRE_TYPE;

public class CorsPreInterceptor extends HeimdallFilter {

    private static Set<String> pathsAllowed;
    private static Set<String> pathsNotAllowed;
    private static String inboundURL = "{{inboundURL}}";
    private static Long referenceId = {{referenceId}};

    private static Map<String, String> cors;

    public CorsPreInterceptor() {
        cors = new HashMap<>();
        pathsAllowed = new HashSet<>();
        pathsNotAllowed = new HashSet<>();
        
        {{#pathsAllowed}}
        pathsAllowed.add("{{.}}");
        {{/pathsAllowed}}
        
        {{#pathsNotAllowed}}
        pathsNotAllowed.add("{{.}}");
        {{/pathsNotAllowed}}

        {{#cors}}
        cors.put("{{key}}", "{{value}}");
        {{/cors}}
    }

    @Override
    public boolean should() {
        RequestContext ctx = RequestContext.getCurrentContext();
        LifeCycleService lifeCycleService = (LifeCycleService) BeanManager.getBean(LifeCycleService.class);
        return lifeCycleService.should(InterceptorLifeCycle.API, pathsAllowed, pathsNotAllowed, inboundURL, ctx.getRequest().getMethod(), ctx.getRequest(), referenceId);
    }

    @Override
    public void execute() throws Throwable {
        
        CORSInterceptorService corsService = (CORSInterceptorService) BeanManager.getBean(CORSInterceptorService.class)
        corsService.executeCorsPreFilter(RequestContext.getCurrentContext(), cors);
    }

    @Override
    public String getName() {
        return "{{name}}"
    }

    @Override
    public int filterOrder() {
        return 20;
    }

    @Override
    public String filterType() {
        return PRE_TYPE;
    }

}
