import com.netflix.zuul.ZuulFilter

public class LogResponseFilter extends ZuulFilter {

     @Override
     public int filterOrder() {

          return {{order}};
     }
     
     @Override
     public String filterType() {

          return "{{executionPoint}}";
     }
     
     @Override
     public boolean shouldFilter() {

          return true;
     }

     @Override
     public Object run() {

          println "{\"name\": \"Interceptor CRUD\"}";
     }
}
